h1 {
    text-align: center;            
    letter-spacing: 5px;           
    word-spacing: 15px;            
    text-decoration: underline;   
}

p {
    text-align: justify;           
    line-height: 1.8;              
    letter-spacing: 2px;           
    word-spacing: 10px;            
    text-indent: 50px;             
    text-decoration: overline;     
}