*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgb(216, 19, 19),rgb(12, 66, 146));
    background-repeat: no-repeat;
}
nav{
    height: 4rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-options{
    display: flex;
}
ul li{
    margin: 20px;
    list-style: none;
}
ul li a{
    text-decoration:none;
    color: white;
}
ul li a:hover{
    color: rgb(230, 38, 4);
}