.container {
  display: flex;
  align-items: center;         
  justify-content: space-between;
  padding: 25px;
  gap: 25px;                   
}


.left {
  flex: 1;
  padding: 25px;
  background: #a31aaf;
  border-radius: 10%;
}
.left:hover {
  flex: 1;
  padding: 25px;
  background: #cc2121e7;
}

.right {
  flex: 1;
  padding: 25px;
  background: #a31aaf;
  text-align: center;
  border-radius: 10%;
}
.right:hover {
  flex: 1;
  padding: 25px;
  background: #0b58a0;
  text-align: center;
}

.right img {
  max-width: 100%;
  border-radius: 10px;
}

.head_1{
    color: #f2f4f7;
    padding: 25px;
}

.head_1:hover{
    color: #000000;
}

.head_2{
    color: #f2f4f7;
    padding: 25px;
}

.head_2:hover{
    color: #000000e7;
}