.container{
    border: 2px solid black;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.box1{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    
}
.box2{
    width: 200px;
    height: 200px;
    background-color: yellow;

}
.box3{
    width: 200px;
    height: 200px;
    background-color: blue;

}
.box4{
    width: 200px;
    height: 200px;
    background-color: green;

}
.sticky{
    background-color: yellowgreen;
    position: sticky;
    top:0;
}