.rect{
    background-color: black;
    border-radius: 5%;
    align-items: center;
    padding: 20px;
    gap:20px;
    height: 550px;
    width: 200px;
}

.red{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:red;
    border-radius: 100%;
    padding: 75px;
    height: 20px;
    width: 20px;
}

.red:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(177, 21, 21);
    border-radius: 100%;
    padding: 75px;
    height: 20px;
    width: 20px;
}

.red h1 {
  margin: 0;
  color: rgb(94, 25, 25); /* or any color you prefer */
  font-family:cursive, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* optional, for a cleaner look */
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for fading */
}

.red:hover h1{
    opacity: 1;
}

.yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(241, 245, 5);
    border-radius: 100%;
    padding: 75px;
    height: 20px;
    width: 20px;
}

.yellow h1 {
  margin: 0;
  color: rgb(80, 79, 12); /* or any color you prefer */
  font-family:cursive, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* optional, for a cleaner look */
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for fading */
}

.yellow:hover h1{
    opacity: 1;
}

.yellow:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(171, 173, 7);
    border-radius: 100%;
    padding: 75px;
    height: 20px;
    width: 20px;
}

.green{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(21, 255, 0);
    border-radius: 100%;
    padding: 75px;
    height: 20px;
    width: 20px;
}

.green:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(24, 170, 11);
    border-radius: 100%;
    padding: 75px;
    height: 20px;
    width: 20px;
}

.green h1 {
  margin: 0;
  color: rgb(16, 92, 20); /* or any color you prefer */
  font-family:cursive, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* optional, for a cleaner look */
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for fading */
}

.green:hover h1{
    opacity: 1;
}